<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="$hide();" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">กรุณายืนยัน ขั้นตอนนี้</h4>
            </div>
            <div class="modal-body">
                คุณแน่ใจที่จะลบข้อมูลนี้หรือไม่ ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="$hide()"><span class="glyphicon glyphicon-minus-sign"> No</span></button>
                <button type="button" class="btn btn-primary" ng-click="deleteSample();$hide();"><span class="glyphicon glyphicon-check"> Yes</span></button>
            </div>
        </div>
    </div>
</div>