<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="$hide();" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sample Modal</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!--TODO : Require filed validator and warning system-->
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input ng-readonly="modalData.readOnly" ng-model="modalData.Name" type="text" class="form-control" id="nameInput" placeholder="Enter text">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="modalData.readOnly" type="checkbox" ng-model="modalData.bCreate"> Check me out (bCreate)
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-show="modalMode == 'create' || modalMode == 'edit'" ng-click="checkData();$hide();">Save changes</button>
            </div>
        </div>
    </div>
</div>